---
import BlogMdxLayout from "@/layouts/BlogMdxLayout.astro";
import { Formatter } from "@/utils/formatter";
import type { GetStaticPaths } from "astro";
import { Image, Picture } from "astro:assets";
import { getEntry } from "astro:content";
import { getCollection } from "astro:content";

export const getStaticPaths = (async () => {
  const blogPosts = await getCollection("blog");

  return blogPosts.map((post) => ({
    params: { slug: post.slug },
    props: { post: post },
  }));
}) satisfies GetStaticPaths;

const { post } = Astro.props;

const frontmatter = post.data;

const { Content, headings } = await post.render();

const author = await getEntry("author", post.data.author.id );
---

<BlogMdxLayout title={frontmatter.title}>
  <h1 class="text-xs text-gray-500 mb-0">{frontmatter.title}</h1>
  
  <div class="flex items-center gap-3 mt-2">
    <Image 
      src={author.data.avatar}
      alt={author.data.name}
      class="object-cover w-10 h-10 rounded-full"
      width={50}
      height={50}
      quality={"low"}
    />
    <div class="flex flex-col gap-1">
      <a href=`/blog/${frontmatter.author.id}` class="text-xs text-blue-500">
        {author.data.name}
      </a>
      <span class="text-xs text-gray-200">{Formatter.formatDate(frontmatter.date)}</span>
    </div>
  </div>

  <h1>{frontmatter.description}</h1>

  <Picture 
    src={frontmatter.image}
    alt=""
    class="object-cover w-full my-5 h-[480px] rounded-md"  
    width={600}
    height={220}
    quality={"medium"} 
    formats={["avif", "webp"]}
    transition:name={`${post.slug}-image`}
  />

  <h3>Tabla de contenido</h3>
  <ol>
    {
      headings.map((heading, index) => (
        <li>
          <a href={`#${heading.slug}`} class="text-blue-500 hover:underline">
            {index + 1} - {heading.text}
          </a>
        </li>
      ))
    }
  </ol>
  <!-- Contenido  -->
  <Content />

  <div class="my-10">
    <a href="#btn-back">Ir arriba</a>
  </div>
</BlogMdxLayout>
