---
const links = [
  { name: "Home", href: "#" },
  { name: "Listado", href: "/pokemons" },
  { name: "Paginado", href: "/pokemons/1" },
  { name: "Favorites", href: "/favorites" },
];

const currentPath = Astro.url.pathname;
---

<!-- component --><!-- <nav class="bg-white shadow dark:bg-gray-800"> -->
<nav class="bg-slate-800 shadow">
  <div
    class="container flex items-center justify-center p-6 mx-auto text-gray-600 dark:text-gray-300"
  >
    {
      links.map((link) => (
        <div>
          <a
            href={link.href}
            class="hover:text-gray-800 dark:hover:text-gray-200 hover:border-blue-500 mx-1.5 sm:mx-6",
          >
            {link.name}
          </a>

          {
            link.href == currentPath  
              ? <div 
                class="border-b-2 border-blue-500 mx-4"
                transition:name="{link.name}-nav"
              >
              </div>
              : <div 
                class="border-b-2 border-transparent "
              >
              </div>
          }
        </div>

        // <a
        //   href={link.href}
        //   class:list={[
        //     " hover:text-gray-800 dark:hover:text-gray-200 hover:border-blue-500 mx-1.5 sm:mx-6",
        //     {
        //       "border-b-2 border-blue-500": link.href == currentPath,
        //     },
        //   ]}
        // >
        //   {link.name}
        // </a>
      ))
    }
  </div>
</nav>
