---
import { ViewTransitions } from "astro:transitions";
import "../styles/blog.css";

interface Props {
  title?: string;
  descritpion?: string;
  image?: string;
}
const { 
  title, 
  descritpion, 
  image,
} = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <!-- SEO -->
     <meta name="description" content={descritpion} />
     <meta name="author" content="Vengardus" />
    
    <!-- Open Graph / Facebook -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={descritpion} />
    <meta property="og:image" content={image} />

    <title>{title ?? "Pokemons Page"}</title>

    <ViewTransitions />
    

  </head>
  
  <body class="bg-slate-900 text-slate-100">

    <main class="m-auto w-full max-w-4xl flex-grow">
      <div class="flex justify-between">
        <a href="/" id="btn-back">Regresar</a>
        <a href="/blog/1" id="btn-back">Blog paginado</a>
      </div>

      <slot />

    </main>
  </body><footer></footer>
</html>
