---
import { ViewTransitions } from "astro:transitions";
import Navbar from "@/components/shared/Navbar.astro";
import { siteInfo } from "src/config/constants";

interface Props {
  title?: string;
  descritpion?: string;
  image?: string;
}
const { 
  title = siteInfo.title, 
  descritpion=siteInfo.description, 
  image,
} = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <!-- SEO -->
     <meta name="description" content={descritpion} />
     <meta name="author" content="Vengardus" />
    
    <!-- Open Graph / Facebook -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={descritpion} />
    <meta property="og:image" content={image} />

    <title>{title ?? "Pokemons Page"}</title>
    
    <ViewTransitions />

    <!-- <style>
      @view-transition {
        navigation: auto; 
      }
    </style> -->

  </head>
  
  <body class="bg-slate-800 text-slate-100">
    <Navbar />
    <main class="mt-2 m-auto max-w-3xl">
      <slot />
    </main>
  </body><footer></footer>
</html>
